{% macro button(href = "/", color = "white", text = "text", active = False, customClass = "", modal = "") %}
{% if customClass != "" %}
    {% if href == "submit" %}
        <button type="submit" class="{{ customClass }} {% if active %} fw-bolder border text-light border-3 border-white {% endif %}">{{ text }}</button>
    
    {% elif href == "modal" %}
        <button data-bs-target="modal" data-bs-toggle="{{ modal }}" onclick="event.preventDefault()" class="{{ customClass }} {% if active %} fw-bolder border text-light border-3 border-white {% endif %}">{{ text }}</button>
    
    {% else %}
        <a href="{{ href }}" class="{{ customClass }} {% if active %} fw-bolder border text-light border-3 border-white {% endif %}">{{ text }}</a>
    {% endif %}
{% elif customClass == "" %}
    {% if href == "submit" %}
        <button type="submit" class="btn btn-{{ color }} text-light rounded-pill shadow py-2 px-3 link-underline link-underline-opacity-0 {% if active %} fw-bolder border border-3 border-white {% endif %}">{{ text }}</button>
    {% elif href == "modal" %}
        <button data-bs-target="#{{ modal }}" data-bs-toggle="modal" onclick="event.preventDefault()" class="btn btn-{{ color }} text-light rounded-pill shadow py-2 px-3 link-underline link-underline-opacity-0 {% if active %} fw-bolder border border-3 border-white {% endif %}">{{ text }}</button>
    {% else %}
        <a href="{{ href }}" class="bg-{{ color }} text-dark bg-opacity-25 rounded-pill shadow py-2 px-3 link-underline link-underline-opacity-0 {% if active %} fw-bolder border-3 border border-white {% endif %}">{{ text }}</a>
    {% endif %}
{% endif %}
{% endmacro %}