{% from"components/button.html" import button %} 
<!-- Add modal -->
{% macro modal_add(id, id_modal = "", title = "text", dt = [], data = []) %}
<div class="container">
  <div
    class="modal fade"
    id="{{ id_modal }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 border-0">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{ title }}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row p-2">
            <form
            action="
            {% if data['menu']['users'] %}
            {{ url_for('router-web.users') }}
            {% endif %}
            {% if data['menu']['activities'] %}
            {{ url_for('router-web.activities') }}
            {% endif %}
            {% if data['menu']['sources'] %}
            {{ url_for('router-web.sources') }}
            {% endif %}
            {% if data['menu']['emissions'] %}
            {{ url_for('router-web.emissions') }}
            {% endif %}
            {% if data['menu']['carbon_factors'] %}
            {{ url_for('router-web.carbon_factors') }}
            {% endif %}
            {% if data['menu']['goals'] %}
            {{ url_for('router-web.goals') }}
            {% endif %}
            {% if data['menu']['offsets'] %}
            {{ url_for('router-web.offsets') }}
            {% endif %}
            {% if data['menu']['reports'] %}
            {{ url_for('router-web.reports') }}
            {% endif %}"
            method="POST"
            >
            <div class="col-12">
              <input type="hidden" name="_method" value="POST">
            </div>
            <!-- add users -->
            {% if data['menu']['users'] %}
            <div class="users">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="email"
                  name="email"  
                  placeholder="Email baru"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  placeholder="Username baru"
                />
              </div>
              <div class="col-12 mb-2">
                <select name="role" id="role" class="form-select">
                  <option value="user" {% if data['role']=="user" %} selected {% endif %}>User</option>
                  <option value="company" {% if data['role']=="company" %} selected {% endif %}>Company</option>
                  <option value="admin" {% if data['role']=="admin" %} selected {% endif %}>Admin</option>
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  placeholder="Password baru"
                />
              </div>
            </div>
            <!-- add activities -->
            {% elif data['menu']['activities'] %}
            <div class="activities">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Faktor</label>
                <select name="factor_id" id="" class="form-select">
                {% for dt_cf in data['carbon_factors']['carbon_factors'] %}
                    <option value="{{ dt_cf.factor_id }}" >{{ dt_cf['conversion_factor'] }} {{ dt_cf['unit'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="amount"
                  placeholder="Total Emisi"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Tanggal aktivitas</label>
                <input
                  class="form-control"
                  type="date"
                  name="activity_date"
                  placeholder="Tanggal Aktivitas"
                  required
                />
              </div>
            </div>
            <!-- add sources -->
            {% elif data['menu']['sources'] %}
            <div class="sources">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="source_name"
                  placeholder="Nama sumber emisi baru"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="description"
                  placeholder="Deskripsi sumber emisi baru"
                />
              </div>
            </div>
            <!-- add emissions -->
            {% elif data['menu']['emissions'] %}
            <div class="emissions">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Sumber</label>
                <select name="source_id" id="" class="form-select">
                {% for dt_sc in data['sources']['sources'] %}
                    <option value="{{ dt_sc.source_id }}">{{ dt_sc['source_name'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="amount"
                  placeholder="Jumlah emisi"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Tanggal emisi</label>
                  <input
                    class="form-control"
                    type="date"
                    name="emission_date"
                    placeholder="Tanggal emisi"
                    required
                  />
              </div>
            </div>
            <!-- add carbon_factors -->
            {% elif data['menu']['carbon_factors'] %}
            <div class="carbon_factors">
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Sumber</label>
                <select name="source_id" id="" class="form-select">
                {% for dt_sc in data['sources']['sources'] %}
                    <option value="{{ dt_sc.source_id }}">{{ dt_sc['source_name'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="description"
                  placeholder="Deskripsi"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="conversion_factor"
                  placeholder="Konversi faktor emisi"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="unit"
                  placeholder="Unit emisi"
                />
              </div>
            </div>
            <!-- add goals -->
            {% elif data['menu']['goals'] %}
            <div class="goals">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="target_emission"
                  placeholder="Target emisi"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Batas waktu</label>
                <input
                  class="form-control"
                  type="date"
                  name="deadline"
                  placeholder="Deadline"
                  required
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Status</label>
                <select name="status" id="" class="form-select">
                  <option value="in_progress">Dalam proses</option>
                  <option value="achieved">Tercapai</option>
                  <option value="missed">Terlewat</option>
                </select>
              </div>
            </div>
            <!-- add offsets -->
            {% elif data['menu']['offsets'] %}
            <div class="offsets">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="project_name"
                  placeholder="Nama proyek"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="offset_amount"
                  placeholder="Jumlah offset"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Offset</label>
                <input
                  class="form-control"
                  type="date"
                  name="offset_date"
                  placeholder="Tanggal offset"
                  required
                />
              </div>
            </div>
            <!-- add reports -->
            {% elif data['menu']['reports'] %}
            <div class="reports">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Awal</label>
                <input
                class="form-control"
                type="date"
                name="start_date"
                placeholder="Tanggal awal"
                required
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Akhir</label>
                <input
                  class="form-control"
                  type="date"
                  name="end_date"
                  placeholder="Tanggal Akhir"
                  required
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="total_emission"
                  placeholder="Total emisi"
                />
              </div>
            </div>
            {% endif %}
            <div class="col p-4">
              <div class="row">
                <div class="col text-end">
                  <!-- submit -->
                  {{ button("submit", "info", "Submit", False, "")}}
                  <!-- kembali -->
                  {{ button("modal", "secondary", "Kembali", False, "", id_modal) }}
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- Edit Modal -->
{% macro modal_edit(id, id_modal = "", title = "text", dt=[], data = []) %}
<div class="container">
  <div
    class="modal fade"
    id="{{ id_modal }}-{{ id }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 border-0">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{% if data['menu']['users'] %}
            Edit user
            {% endif %}
            {% if data['menu']['activities'] %}
            Edit aktivitas
            {% endif %}
            {% if data['menu']['sources'] %}
            Edit sumber emisi
            {% endif %}
            {% if data['menu']['emissions'] %}
            Edit emisi
            {% endif %}
            {% if data['menu']['carbon_factors'] %}
            Edit faktor karbon
            {% endif %}
            {% if data['menu']['goals'] %}
            Edit target emisi
            {% endif %}
            {% if data['menu']['offsets'] %}
            Edit offset
            {% endif %}
            {% if data['menu']['reports'] %}
            Edit laporan
            {% endif %}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row p-2">
          <form
            action="
            {% if data['menu']['users'] %}
            {{ url_for('router-web.users', id= id) }}
            {% elif data['menu']['activities'] %}
            {{ url_for('router-web.activities', id= id) }}
            {% elif data['menu']['sources'] %}
            {{ url_for('router-web.sources', id= id) }}
            {% elif data['menu']['emissions'] %}
            {{ url_for('router-web.emissions', id= id) }}
            {% elif data['menu']['carbon_factors'] %}
            {{ url_for('router-web.carbon_factors', id= id) }}
            {% elif data['menu']['goals'] %}
            {{ url_for('router-web.goals', id= id) }}
            {% elif data['menu']['offsets'] %}
            {{ url_for('router-web.offsets', id= id) }}
            {% elif data['menu']['reports'] %}
            {{ url_for('router-web.reports', id= id) }}
            {% endif %}"
            method="POST"
            >
            <div class="col-12">
              <input type="hidden" name="_method" value="PUT">
            </div>
            <!-- edit users -->
            {% if data['menu']['users'] %}
            <div class="users">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="email"
                  name="email"  
                  placeholder="Email baru"
                  value="{{ dt['email'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="username"
                  placeholder="Username baru"
                  value="{{ dt['username'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Role</label>
                <select name="role" id="role" class="form-select">
                  <option value="user" {% if dt['role'] == "user" %} selected {% endif %}>User</option>
                  <option value="company" {% if dt['role'] == "company" %} selected {% endif %}>Company</option>
                  <option value="admin" {% if dt['role'] == "admin" %} selected {% endif %}>Admin</option>
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  placeholder="Password baru"
                />
              </div>
            </div>
            <!-- edit activities -->
            {% elif data['menu']['activities'] %}
            <div class="activities">
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Faktor</label>
                <select name="factor_id" id="" class="form-select">
                {% for dt_cf in data['carbon_factors']['carbon_factors'] %}
                    <option value="{{ dt_cf.factor_id }}" {% if dt['factor_id'] == dt_cf.factor_id %} selected {% endif %}>{{ dt_cf['conversion_factor'] }} {{ dt_cf['unit'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="amount"
                  placeholder="Total Emisi"
                  value="{{ dt['amount'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Tanggal aktivitas</label>
                <input
                  class="form-control"
                  type="date"
                  name="activity_date"
                  placeholder="Tanggal Aktivitas"
                  required
                />
              </div>
            </div>
            <!-- edit sources -->
            {% elif data['menu']['sources'] %}
            <div class="sources">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="source_name"
                  placeholder="Nama sumber emisi baru"
                  value="{{ dt['source_name'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="description"
                  placeholder="Deskripsi sumber emisi baru"
                  value="{{ dt['description'] }}"
                />
              </div>
            </div>
            <!-- edit emissions -->
            {% elif data['menu']['emissions'] %}
            <div class="emissions">
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Sumber</label>
                <select name="source_id" id="" class="form-select">
                {% for dt_sc in data['sources']['sources'] %}
                    <option value="{{ dt_sc.source_id }}">{{ dt_sc['source_name'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="amount"
                  placeholder="Jumlah emisi"
                  value="{{ dt['amount'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Tanggal emisi</label>
                  <input
                    class="form-control"
                    type="date"
                    name="emission_date"
                    placeholder="Tanggal emisi"
                    required
                  />
              </div>
            </div>
            <!-- edit carbon_factors -->
            {% elif data['menu']['carbon_factors'] %}
            <div class="carbon_factors">
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Sumber</label>
                <select name="source_id" id="" class="form-select">
                {% for dt_sc in data['sources']['sources'] %}
                    <option value="{{ dt_sc.source_id }}">{{ dt_sc['source_name'] }}</option>
                {% endfor %}
                </select>
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="description"
                  placeholder="Deskripsi"
                  value="{{ dt['description'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="conversion_factor"
                  placeholder="Konversi faktor emisi"
                  value="{{ dt['conversion_factor'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="unit"
                  placeholder="Unit emisi"
                  value="{{ dt['unit'] }}"
                />
              </div>
            </div>
            <!-- edit goals -->
            {% elif data['menu']['goals'] %}
            <div class="goals">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="target_emission"
                  placeholder="Target emisi"
                  value="{{ dt['target_emission'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label for="" class="input-group-text">Batas waktu</label>
                <input
                  class="form-control"
                  type="date"
                  name="deadline"
                  required
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Status</label>
                <select name="status" id="" class="form-select">
                  <option value="in_progress" {% if dt['status'] == "in_progress" %} selected {% endif %}>Dalam proses</option>
                  <option value="achieved" {% if dt['status'] == "achieved" %} selected {% endif %}>Tercapai</option>
                  <option value="missed" {% if dt['status'] == "missed" %} selected {% endif %}>Terlewat</option>
                </select>
              </div>
            </div>
            <!-- edit offsets -->
            {% elif data['menu']['offsets'] %}
            <div class="offsets">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="text"
                  name="project_name"
                  placeholder="Nama proyek"
                  value="{{ dt['project_name'] }}"
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="offset_amount"
                  placeholder="Jumlah offset"
                  value="{{ dt['offset_amount'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Offset</label>
                <input
                  class="form-control"
                  type="date"
                  name="offset_date"
                  placeholder="Tanggal offset"
                  required
                />
              </div>
            </div>
            <!-- edit reports -->
            {% elif data['menu']['reports'] %}
            <div class="reports">
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="hidden"
                  name="user_id"
                  value="{{ data['user_id'] }}"
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Awal</label>
                <input
                class="form-control"
                type="date"
                name="start_date"
                placeholder="Tanggal awal"
                required
                />
              </div>
              <div class="col-12 mb-2 input-group">
                <label class="input-group-text">Tanggal Akhir</label>
                <input
                  class="form-control"
                  type="date"
                  name="end_date"
                  placeholder="Tanggal Akhir"
                  required
                />
              </div>
              <div class="col-12 mb-2">
                <input
                  class="form-control"
                  type="number"
                  name="total_emission"
                  placeholder="Total emisi"
                  value="{{ dt['total_emission'] }}"
                />
              </div>
            </div>
            {% endif %}
            <div class="col p-4">
              <div class="row">
                <div class="col text-end">
                  <!-- submit -->
                  {{ button("submit", "info", "Submit", False, "")}}
                  <!-- kembali -->
                  {{ button("modal", "secondary", "Kembali", False, "", id_modal) }}
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

<!-- delete users -->
{% macro modal_delete(id, id_modal = "", title = "text", dt=[], data = []) %}
<div class="container">
  <div
    class="modal fade"
    id="{{ id_modal }}-{{ id }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content rounded-4 border-0">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{% if data['menu']['users'] %}
            Delete user
            {% endif %}
            {% if data['menu']['activities'] %}
            Delete aktivitas
            {% endif %}
            {% if data['menu']['sources'] %}
            Delete sumber emisi
            {% endif %}
            {% if data['menu']['emissions'] %}
            Delete emisi
            {% endif %}
            {% if data['menu']['carbon_factors'] %}
            Delete faktor karbon
            {% endif %}
            {% if data['menu']['goals'] %}
            Delete target emisi
            {% endif %}
            {% if data['menu']['offsets'] %}
            Delete offset
            {% endif %}
            {% if data['menu']['reports'] %}
            Delete laporan
            {% endif %}</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row gap-2 p-2">
            <form
            action="
            {% if data['menu']['users'] %}
            {{ url_for('router-web.users', id= id) }}
            {% elif data['menu']['activities'] %}
            {{ url_for('router-web.activities', id= id) }}
            {% elif data['menu']['sources'] %}
            {{ url_for('router-web.sources', id= id) }}
            {% elif data['menu']['emissions'] %}
            {{ url_for('router-web.emissions', id= id) }}
            {% elif data['menu']['carbon_factors'] %}
            {{ url_for('router-web.carbon_factors', id= id) }}
            {% elif data['menu']['goals'] %}
            {{ url_for('router-web.goals', id= id) }}
            {% elif data['menu']['offsets'] %}
            {{ url_for('router-web.offsets', id= id) }}
            {% elif data['menu']['reports'] %}
            {{ url_for('router-web.reports', id= id) }}
            {% endif %}"
            method="POST"
            > 
            <input type="hidden" name="_method" value="DELETE">
            <!-- delete users -->
            {% if data['menu']['users'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['username'] }}</div>
              </div>
              <!-- delete activities -->
            {% elif data['menu']['activities'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['factor_id'] }}</div>
              </div>
              <!-- delete sources -->
            {% elif data['menu']['sources'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['source_name'] }}</div>
              </div>
              <!-- delete emission -->
            {% elif data['menu']['emissions'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['emission_id'] }}</div>
              </div>
              <!-- delete carbon_factors -->
            {% elif data['menu']['carbon_factors'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['factor_id'] }}</div>
              </div>
              <!-- delete goals -->
            {% elif data['menu']['goals'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['goals_id'] }}</div>
              </div>
              <!-- delete offsets -->
            {% elif data['menu']['offsets'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['project_name'] }}</div>
              </div>
              <!-- delete reports -->
            {% elif data['menu']['reports'] %}
              <div class="col-12">
                <p class="fs-4">Apakah anda yakin ingin menghapus</p>
                <div class="rounded-4 fs-6 border-start border-2 border-danger p-2 bg-danger bg-opacity-25">{{ dt['report_id'] }}</div>
              </div>
            {% endif %}
                <div class="col p-4">
                  <div class="row">
                    <div class="col text-end">
                      <!-- submit -->
                      {{ button("submit", "danger", "Delete", False, "")}}
                    </form>
                      <!-- kembali -->
                      {{ button("modal", "secondary", "Kembali", False, "",id_modal~"-"~id) }}
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}