{% from"components/modal.html" import modal_add, modal_edit, modal_delete %}
{% from"components/button.html" import button %}
{% macro table(data=[]) %}
<div class="row align-items-center pb-4">
  <div class="col">
    <p class="fs-4"><i class="bi 
      {% if data['menu']['users'] %}
      bi-person-fill
      {% elif data['menu']['activities'] %}
      bi-list-task
      {% elif data['menu']['sources'] %}
      bi-cloud-fog2-fill
      {% elif data['menu']['emissions'] %}
      bi-cloud-haze-fill
      {% elif data['menu']['carbon_factors'] %}
      bi-cloud-arrow-down-fill
      {% elif data['menu']['goals'] %}
      bi-cloud-check-fill
      {% elif data['menu']['offsets'] %}
      bi-cloud-slash-fill
      {% elif data['menu']['reports'] %}
      bi-file-earmark-arrow-down-fill
      {% endif %}
      me-2"></i>{{ data['title'] }}</p>
      {% if data['menu']['offsets'] %}
      {% if data['role'] != "admin" %}
        <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
          Total keseluruhan offset : <span class="text-dark">{{ data['datas']['total_offsets'] }} kg CO₂</span class="fs-6">
        </span>
      {% endif %}
      {% elif data['menu']['goals'] %}
        {% if data['role'] != "admin" %}
        <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
          Total keseluruhan goals : <span class="text-dark">{{ data['datas']['total_goals'] }} kg CO₂</span class="fs-6">
        </span>
        {% endif %}
      {% elif data['menu']['reports'] %}
        {% if data['role'] != "admin" %}
        <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
          Total keseluruhan goals : <span class="text-dark">{{ data['datas']['total_emissions'] }} kg CO₂</span class="fs-6">
        </span>
        {% endif %}
      {% endif %}
  </div>
  <div class="col-auto">
    {% if data['menu']['users'] %}
      {{ button("modal", "primary", "Tambah user", False, "", "addUser") }}
      {{ modal_add("", "addUser", "Tambah user", dt, data) }}
    {% elif data['menu']['activities'] %}
      {{ button("modal", "primary", "Tambah aktivitas", False, "", "addActivity") }}
      {{ modal_add("", "addActivity", "Tambah aktivitas", dt, data) }}
    {% elif data['menu']['sources'] %}  
      {{ button("modal", "primary", "Tambah sumber emisi", False, "", "addSource") }}
      {{ modal_add("", "addSource", "Tambah sumber emisi", dt, data) }}
    {% elif data['menu']['emissions'] %}
      <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
        Total keseluruhan emisi : <u>{{ data['datas']['total_emission'] }} kg CO₂</u>
      </span>
    {% elif data['menu']['carbon_factors'] %}
      {{ button("modal", "primary", "Tambah faktor karbon", False, "", "addCarbonFactor") }}
      {{ modal_add("", "addCarbonFactor", "Tambah faktor karbon", dt, data) }}
    {% elif data['menu']['goals'] %}
      {% if data['role'] == "admin" %}
      <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
        Total keseluruhan goals : <span class="text-dark">{{ data['datas']['total_goals'] }} kg CO₂</span class="fs-6">
      </span>
      {% endif %}
    {% elif data['menu']['offsets'] %}
    {% if data['role'] == "admin" %}
      <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
        Total keseluruhan offset : <span class="text-dark">{{ data['datas']['total_offsets'] }} kg CO₂</span class="fs-6">
      </span>
    {% endif %}
    {% elif data['menu']['reports'] %} 
      {% if data['role'] != "admin" %}
        {{ button("modal", "primary", "Tambah laporan", False, "", "addReport") }}
        {{ modal_add("", "addReport", "Tambah laporan", dt, data) }}
      {% endif %}
      {% if data['role'] == "admin" %}
        <span class="badge text-dark border-4 border-start border-info text-bg-info bg-opacity-50 rounded-3 p-2">
        Total keseluruhan emisi : <span class="text-dark">{{ data['datas']['total_emissions'] }} kg CO₂</span class="fs-6">
      {% endif %}
      </span>
    {% endif %}
      
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table
      class="table table-borderless table-hover"
      style="--bs-table-bg: transparent"
    >
      <thead class="border-bottom border-dark">
      <!-- header users -->
      {% if data['menu']['users'] %}
        <tr>
          <th scope="col">#</th>
          <th scope="col">Role</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      <!-- header activities -->
      {% elif data['menu']['activities'] %}
        <tr>
          <th scope="col">#</th>
          {% if data['role'] == "admin" %}
              <th scope="col">User</th>
          {% endif %}
          <th scope="col">Factor</th>
          <th scope="col">Jumlah emisi</th>
          <th scope="col">Tanggal Aktivitas</th>
          <th scope="col">Tanggal Laporan</th>
          <th scope="col">Action</th>
        </tr>
      <!-- header emission -->
      {% elif data['menu']['emissions'] %}
        <tr>
          <th scope="col">#</th>
          {% if data['role'] == "admin" %}
              <th scope="col">User</th>
          {% endif %}
          <th scope="col">Sumber</th>
          <th scope="col">Jumlah emisi</th>
          <th scope="col">Tanggal emisi</th>
          <th scope="col">Tanggal laporan</th>
        </tr>
      <!-- header sources -->
      {% elif data['menu']['sources'] %}
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nama sumber</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Action</th>
        </tr>
      <!-- header carbon factor -->
      {% elif data['menu']['carbon_factors'] %}
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sumber</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Faktor Konversi</th>
          <th scope="col">Unit</th>
          <th scope="col">Action</th>
        </tr>
      <!-- header goals -->
      {% elif data['menu']['goals'] %}
        <tr>
          <th scope="col">#</th>
          {% if data['role'] == "admin" %}
              <th scope="col">User</th>
          {% endif %}
          <th scope="col">Target emisi</th>
          <th scope="col">Batas waktu</th>
          <th scope="col">Status</th>
          <th scope="col">Dibuat pada</th>
          {% if data['role'] != "admin" %}
            <th scope="col">Action</th>
          {% endif %}
        </tr>
      <!-- header offsets -->
      {% elif data['menu']['offsets'] %}
        <tr>
          <th scope="col">#</th>
          {% if data['role'] == "admin" %}
            <th scope="col">User</th>
          {% endif %}
          <th scope="col">Nama proyek</th>
          <th scope="col">Jumlah offset</th>
          <th scope="col">Tanggal offset</th>
          <th scope="col">Dibuat pada</th>
          {% if data['role'] != "admin" %}
          <th scope="col">Action</th>
          {% endif %}
        </tr>
      <!-- header reports -->
      {% elif data['menu']['reports'] %}
        <tr>
          <th scope="col">#</th>
          {% if data['role'] == "admin" %}
              <th scope="col">User</th>
          {% endif %}
          <th scope="col">Tanggal awal</th>
          <th scope="col">Tanggal akhir</th>
          <th scope="col">Total emisi</th>
          <th scope="col">Laporan dibuat pada</th>
          {% if data['role'] != "admin" %}
          <th scope="col">Action</th>
          {% endif %}
        </tr>
      {% endif %}
      </thead>
      <tbody>  

        <!--Table user -->
        {% if data['menu']['users'] %}
          {% if data['datas']['accounts'] %}
            {% for dt in data['datas']['accounts'] %} 
            <tr>
              <td>{{ loop.index }}</td>  
              <td>{{ dt.role }}</td>
              <td>{{ dt.username }}</td>  
              <td>{{ dt.email }}</td>
              <td>
                {{ button("modal", "info", "Edit", False, "", "editUsers"~"-"~dt.user_id) }}
                {{ button("modal", "danger", "Delete", False, "", "deleteUsers"~"-"~dt.user_id) }}
              </td>
              {{ modal_edit(dt.user_id, "editUsers", dt.username ~ " - Edit user", dt, data) }}
              {{ modal_delete(dt.user_id, "deleteUsers", dt.username ~ " - Delete user", dt, data) }}
            </tr>
            {% endfor %}  
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}

        <!-- Table activity -->
        {% elif data['menu']['activities'] %}
          {% if data['datas']['activities'] %}
            {% for dt in data['datas']['activities'] %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if data['role'] == "admin" %}
              <td>
                {% for dt_us in data['users']['accounts'] %}
                {% if dt_us.user_id == dt.user_id %}
                  {{ dt_us['username'] }}
                {% endif %}
              {% endfor %}
            </td>
              {% endif %}
              <td>
              {% for dt_ft in data['carbon_factors']['carbon_factors'] %}
                {% if dt_ft.factor_id == dt.factor_id %}
                  {% for dt_sc in data['sources']['sources'] %}
                    {% if dt_sc.source_id == dt_ft.source_id %}
                      {{ dt_sc.source_name }}
                    {% endif %}
                  {% endfor %}
                  <br/>
                  <p class="border-4 border-start border-info p-2 badge text-bg-info bg-opacity-50">{{ dt_ft.conversion_factor }} kg CO₂</p>
                {% endif %}
                {% endfor %}
              </td>
              <td>
                {{ dt.amount }}
                {% for dt_ft in data['carbon_factors']['carbon_factors'] %}
                  {% if dt_ft.factor_id == dt.factor_id %}
                    {{ dt_ft.unit }}
                  {% endif %}
                {% endfor %}
              </td> 
              <td>{{ dt.activity_date }}</td> 
              <td>{{ dt.report_date }}</td>
              <td>
                {{ button("modal", "info", "Edit", False, "", "editActivity"~"-"~dt.activity_id) }}
                {{ button("modal", "danger", "Delete", False, "", "deleteActivity"~"-"~dt.activity_id) }}
              </td> 
              {{ modal_edit(dt.activity_id, "editActivity", dt.factor_id ~ " - Edit Users", dt, data) }}
              {{ modal_delete(dt.activity_id, "deleteActivity", dt.factor_id ~ " - Delete Users", dt, data) }}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}
        <!-- Table sources -->
        {% elif data['menu']['sources'] %}
          {% if data['datas']['sources'] %}
            {% for dt in data['datas']['sources'] %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ dt.source_name}}</td>
              <td>{{ dt.description }}</td>
              <td>
                {{ button("modal", "info", "Edit", False, "", "editSource"~"-"~dt.source_id) }}
                {{ button("modal", "danger", "Delete", False, "", "deleteSource"~"-"~dt.source_id) }}
              </td> 
              {{ modal_edit(dt.source_id, "editSource", dt.source_name ~ " - Edit sumber emisi", dt, data) }}
              {{ modal_delete(dt.source_id, "deleteSource", dt.source_name ~ " - Delete sumber emisi", dt, data) }}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}

        <!-- Table emissions -->
        {% elif data['menu']['emissions'] %}
          {% if data['datas']['emissions'] %}
            {% for dt in data['datas']['emissions'] %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if data['role'] == "admin" %}
              <td>
                {% for dt_us in data['users']['accounts'] %}
                {% if dt_us.user_id == dt.user_id %}
                  {{ dt_us['username'] }}
                {% endif %}
              {% endfor %}
            </td>
              {% endif %}
              <td>
                {% for dt_sc in data['sources']['sources'] %}
                  {% if dt_sc.source_id == dt.source_id %}
                    {{ dt_sc['source_name'] }}
                  {% endif %}
                {% endfor %}
            </td>
              <td>
                {{ dt.amount }} kg CO₂
              </td>
              <td>{{ dt.emission_date }}</td>
              <td>{{ dt.report_date }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}

        <!-- Table Faktor Carbon -->
        {% elif data['menu']['carbon_factors'] %}
          {% if data['datas']['carbon_factors'] %}
            {% for dt in data['datas']['carbon_factors'] %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                {% for dt_sc in data['sources']['sources'] %}
                  {% if dt_sc.source_id == dt.source_id %}
                    {{ dt_sc['source_name'] }}
                  {% endif %}
                {% endfor %}
              </td>
              <td>{{ dt.description }}</td>
              <td>{{ dt.conversion_factor }} kg CO₂</td>
              <td>{{ dt.unit }}</td>
              <td>
                {{ button("modal", "info", "Edit", False, "", "editCarbonFactor"~"-"~dt.factor_id) }}
                {{ button("modal", "danger", "Delete", False, "", "deleteCarbonFactor"~"-"~dt.factor_id) }}
              </td> 
              {{ modal_edit(dt.factor_id, "editCarbonFactor", dt.factor_id ~ " - Edit sumber emisi", dt, data) }}
              {{ modal_delete(dt.factor_id, "deleteCarbonFactor", dt.factor_id ~ " - Delete sumber emisi", dt, data) }}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}
        <!-- Table goals -->
        {% elif data['menu']['goals'] %}
          {% if data['datas']['goals'] %}
            {% for dt in data['datas']['goals'] %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if data['role'] == "admin" %}
              <td>
                {% for dt_us in data['users']['accounts'] %}
                {% if dt_us.user_id == dt.user_id %}
                  {{ dt_us['username'] }}
                {% endif %}
              {% endfor %}
              </td>
              {% endif %}
              <td>{{ dt.target_emission }}</td>
              <td>{{ dt.deadline }}</td>
              {% if dt.status == "in_progress" %}
              <td>Dalam proses</td>
              {% elif dt.status == "achieved" %}
              <td>Tercapai</td>
              {% elif dt.status == "missed" %}
              <td>Terlewat</td>
              {% endif %}
              <td>{{ dt.created_at }}</td>
              {% if data['role'] != "admin" %}
                <td>
                  {{ button("modal", "info", "Edit", False, "", "editGoal"~"-"~dt.goal_id) }}
                  {{ button("modal", "danger", "Delete", False, "", "deleteGoal"~"-"~dt.goal_id) }}
                </td> 
                {{ modal_edit(dt.goal_id, "editGoal", dt.goal_id ~ " - Edit target emisi", dt, data) }}
                {{ modal_delete(dt.goal_id, "deleteGoal", dt.goal_id ~ " - Delete target emisi", dt, data) }}
              {% endif %}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}
        <!-- Table offsets -->
        {% elif data['menu']['offsets'] %}
          {% if data['datas']['offsets'] %}
            {% for dt in data['datas']['offsets'] %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if data['role'] == "admin" %}
              <td>
                {% for dt_us in data['users']['accounts'] %}
                {% if dt_us.user_id == dt.user_id %}
                  {{ dt_us['username'] }}
                {% endif %}
              {% endfor %}
              </td>
              {% endif %}
              <td>{{ dt.project_name }}</td>
              <td>{{ dt.offset_amount }}</td>
              <td>{{ dt.offset_date }}</td>
              <td>{{ dt.created_at }}</td>
              {% if data['role'] != "admin" %}
                <td>
                  {{ button("modal", "info", "Edit", False, "", "editOffset"~"-"~dt.offset_id) }}
                  {{ button("modal", "danger", "Delete", False, "", "deleteOffset"~"-"~dt.offset_id) }}
                </td> 
                {{ modal_edit(dt.offset_id, "editOffset", dt.offset_id ~ " - Edit offset emisi", dt, data) }}
                {{ modal_delete(dt.offset_id, "deleteOffset", dt.offset_id ~ " - Delete offset emisi", dt, data) }}
              {% endif %}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}
        <!-- Table report -->
        {% elif data['menu']['reports'] %}
          {% if data['datas']['reports'] %}
            {% for dt in data['datas']['reports'] %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if data['role'] == "admin" %}
              <td>
                {% for dt_us in data['users']['accounts'] %}
                {% if dt_us.user_id == dt.user_id %}
                  {{ dt_us['username'] }}
                {% endif %}
              {% endfor %}
              </td>
              {% endif %}
              <td>{{ dt.start_date }}</td>
              <td>{{ dt.end_date }}</td>
              <td>{{ dt.total_emission }}</td>
              <td>{{ dt.report_generated_at }}</td>
              <td>
                {% if data['role'] != "admin" %}
                  {{ button("modal", "info", "Edit", False, "", "editLaporan"~"-"~dt.report_id) }}
                  {{ button("modal", "danger", "Delete", False, "", "deleteLaporan"~"-"~dt.report_id) }}
                {% endif %}
              </td> 
              {% if data['role'] != "admin" %}
                {{ modal_edit(dt.report_id, "editLaporan", dt.offset_id ~ " - Edit offset emisi", dt, data) }}
                {{ modal_delete(dt.report_id, "deleteLaporan", dt.offset_id ~ " - Delete offset emisi", dt, data) }}
              {% endif %}
            </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td colspan="10" class="text-center">No data</td>
            </tr>
          {% endif %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endmacro %}