<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emisi Carbon - API</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Welcome to Emisi Carbon Page</h1>
      </div>
      <div class="menu">
        <ul>
          <li><a href="/account-list">Account List</a></li>
          <li><a href="/emisi-carbon">Emisi Carbon</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
